.about-section1 {
    width:100%;
    height:auto;
    border-radius: 40px;
    box-shadow: 7px 7px 7px #0000002c;
    background: linear-gradient(rgba(0, 0, 70, 0), #ffffff3b);  
    padding-top: 20pt;
    padding-bottom: 50pt;
}

.about-section2 {
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.about-section3 {
    width:100%;
    height:auto;
    border-radius: 40px;
    box-shadow: 7px 7px 7px #0000002c;
    background: linear-gradient(#ffffff3b, #ffffff3b);  
    padding-top: 100pt;
    padding-bottom: 100pt;
    margin-bottom: 5em;
}

.about-section4 { 
    padding-top: 50pt;
    padding-bottom: 100pt;
}

.about-section4 h1 { 
    color:white;
}

.about-section2,.about-section1 p {
    text-align: justify;
    color:white;
    font-size: 16pt;
}

.about-section3 p {
    text-align: justify;
    color:white;
    font-size: 18pt;
}

.about-section2 h1{
    color:white;
    font-size: 52pt;
    text-align: right;
}

.about-section3 h1{
    color:white;
    font-size: 50pt;
    text-align: left;
    padding-bottom: 10pt;
}

.about-line {
    height:1pt;
    background-color:white;
}