:root {
    --swiper-navigation-color: white;
}

.about-section1 {
    width:100%;
    height:auto;
    border-radius: 40px;
    box-shadow: 7px 7px 7px #0000002c;
    background: linear-gradient(rgba(0, 0, 70, 0), #ffffff3b);  
    padding-top: 20pt;
    padding-bottom: 50pt;
}

.about-section2 {
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.about-section3 {
    width:100%;
    height:auto;
    border-radius: 40px;
    box-shadow: 7px 7px 7px #0000002c;
    background: linear-gradient(#ffffff3b, #ffffff3b);  
    padding-top: 100pt;
    padding-bottom: 100pt;
    margin-bottom: 5em;
}

.about-section4 { 
    padding-top: 50pt;
    padding-bottom: 50pt;
}

.about-section4 h1 { 
    color:white;
}

.about-section2,.about-section1 p {
    text-align: justify;
    color:white;
    font-size: 16pt;
}

.about-section3 p {
    text-align: justify;
    color:white;
    font-size: 18pt;
}

.about-section2 h1{
    color:white;
    font-size: 52pt;
    text-align: right;
}

.about-section3 h1{
    color:white;
    font-size: 50pt;
    text-align: left;
    padding-bottom: 10pt;
}

.about-line {
    height:1pt;
    background-color:white;
}

.img-about{
    max-width: 100%;
}

.mySwiper{
    width: 100%;
    height: 100%;
}

.s1 {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sec-doc {
    color: white;
}