header a{
    font-family: montserrat;
    color:white;
    text-decoration: none;
    font-weight: bold;
    transform: uppercase;
}

header a:after{
    display: block;
    content: ' ';
    border-bottom: solid 2px #FDC125;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

header a:hover{
    color:white;
}

header a:hover:after{
    transform: scaleX(1);
}

#nav-icon3{
    top: 0;
    right: 0;
    background-color: transparent;
    margin-top: 80px;
    /* margin-left: 100px; */
    height: 45px;
    width: 25px;
    position: fixed;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
    margin-right: 50px;

    z-index: 105;

  }
  
#nav-icon3 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-overlay{
    width: 100%;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
}

.nav-overlay.active{
    opacity: 1!important;
    z-index: 101;
    background: rgba(0, 0, 0, 0.5)!important;
    z-index: 101;

    transition: 0.2s;
}

.nav-main{
    font-family: Roboto;
    color: white;
    font-size: 20px;
    width: 30%;
    background-color: #06161C;
    height: 100%;
    top: 0;
    transform: translateX(110%);
    margin-top: auto;
    transition: 0.5s;
    z-index: 102;
    position: fixed;
    right: 0;
}

.nav-main.active{
    transform: translateX(0%);
    transition: 0.5s;
}

.nav-menu-container{
    margin-top: 30%;
}

.nav-menu{
    width: 100%;
    text-align: start;
    padding-left: 10%;
}

@media (max-width:850px){
    .nav-menu{
        width: 70%;
        text-align: start;
        padding-left: 10%;
    }
    .nav-main{
        width: 50%;
    }
}

@media (max-width:550px){
    .nav-menu{
        width: 70%;
        text-align: start;
        padding-left: 10%;
    }
    .nav-main{
        width: 100%;
    }
}